# Reverb Configuration
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SSL_ENABLED=false
REVERB_SSL_CERT_PATH=
REVERB_SSL_KEY_PATH=

# Broadcasting
BROADCAST_DRIVER=reverb
BROADCAST_CONNECTION=reverb

# Reverb App
REVERB_APP_ID=local
REVERB_APP_KEY=local
REVERB_APP_SECRET=local